LiteDB-Memory-Lib/.idea/*
LiteDB-Memory-Lib/bin/*
LiteDB-Memory-Lib/obj/*
/MSBuild/*.*
LiteDB-Memory-Tests/obj/*
LiteDB-Memory-Tests/bin/*
LiteDB-Memory-Tests/.idea/*
LiteDB-Memory-Lib/global.json
MSBuild/LiteDB-Memory-Lib.sln.DotSettings.user
/SqliteDB-Memory-Lib/obj
/SqliteDB-Memory-Lib/bin
/SqliteDB-Memory-Lib/.idea
/SqliteDB-Memory-Tests/obj
/SqliteDB-Memory-Tests/bin
/SqliteDB-Memory-Tests/.idea
/MemoryDB-Lib/obj
/MSBuild/Memory-DB/obj
/MSBuild/Memory-DB/bin
/Memory-DB/bin
/Memory-DB/obj
/DuckDB-Memory-Lib/obj
/DuckDB-Memory-Lib/bin
/DuckDB-Memory-Lib/.idea
/DuckDB-Memory-Tests/obj
/DuckDB-Memory-Tests/bin
/DuckDB-Memory-Tests/.idea
