LiteDb-Memory-Lib/.idea/*
LiteDb-Memory-Lib/bin/*
LiteDb-Memory-Lib/obj/*
/MSBuild/*.*
LiteDb-Memory-Tests/obj/*
LiteDb-Memory-Tests/bin/*
LiteDb-Memory-Tests/.idea/*
LiteDb-Memory-Lib/global.json
MSBuild/LiteDb-Memory-Lib.sln.DotSettings.user
/SqliteDb-Memory-Lib/obj
/SqliteDb-Memory-Lib/bin
/SqliteDb-Memory-Lib/.idea
/SqliteDB-Memory-Tests/obj
/SqliteDB-Memory-Tests/bin
/SqliteDB-Memory-Tests/.idea
/MemoryDb-Lib/obj
artifacts/
